<header class="grid">
  <div class="col-4 flex align-items-center">
    <a
      href="javascript(void)"
      [routerLink]="['/']"
      routerLinkActive="link-active"
      class="flex align-items-center text-3xl font-avenir-bold"
    >
      DEBT<span class="material-symbols-rounded mb-1 text-5xl">
        credit_card </span
      >EXPERTS
      <span class="text-lg">.ORG</span>
    </a>
  </div>
  <div class="col-4 flex justify-content-center align-items-center cursor-pointer">
    <p-menu #menu [model]="siteLinks" [popup]="true"></p-menu>
    <a
      class="font-avenir-medium py-2 hover-border-bottom"
      (click)="menu.toggle($event)"
      >Debt Relief Options<i class="pi pi-chevron-down px-2 text-xs"></i
    ></a>
  </div>
  <div class="col-4 flex justify-content-center align-items-center">
    <p-button size="small" label="Get Started"></p-button>
  </div>
</header>
<nav></nav>
<!--
  <form [formGroup]="selectLoanForm">
      <p-dropdown
        formControlName="selectLoanType"
        [options]="globalService.globalState.loanTypes"
        optionLabel="label"
        [showClear]="false"
        placeholder="Select a Loan Type"
      ></p-dropdown>
    </form>
-->
