<header
  class="flex flex-row align-items-center align-content-between pt-4 px-4 text-gray-700 bg-sky"
>
  <div class="flex flex-1 align-items-center justify-content-start">
    <a
      href="javascript(void)"
      [routerLink]="['/']"
      routerLinkActive="link-active"
      class="flex align-items-center justify-content-center text-4xl font-avenir-bold"
    >
      DEBT<span class="material-symbols-rounded mb-1">
        credit_card
        </span>EXPERTS
      <span class="text-lg">.ORG</span>
    </a>
  </div>
  <div class="flex flex-1 text-base align-items-center justify-content-center cursor-pointer">
    <p-menu #menu [model]="siteLinks" [popup]="true"></p-menu>
    <a
      class="px-3 py-2"
      (click)="menu.toggle($event)"
      >Debt Relief Options<i class="pi pi-chevron-down px-2 text-xs"></i
    ></a>
  </div>
  <div class="flex flex-1 align-items-center justify-content-end">
    <p-button
      size="small"
      label="Get Started"
    ></p-button>
  </div>
</header>
<nav>
  
</nav>
<!--
  <form [formGroup]="selectLoanForm">
      <p-dropdown
        formControlName="selectLoanType"
        [options]="globalService.globalState.loanTypes"
        optionLabel="label"
        [showClear]="false"
        placeholder="Select a Loan Type"
      ></p-dropdown>
    </form>
-->
