<h1>Advertiser Disclosure</h1>
<p>
  {{ globalService.globalState.siteName }} is an independent publisher and
  comparison service, not an investment advisor. Its articles, interactive tools
  and other content are provided to you for free, as self-help tools and for
  informational purposes only. They are not intended to provide investment
  advice. {{ globalService.globalState.siteName }} does not and cannot guarantee
  the accuracy or applicability of any information in regard to your individual
  circumstances. Examples are hypothetical, and we encourage you to seek
  personalized advice from qualified professionals regarding specific investment
  issues. Our estimates are based on past market performance, and past
  performance is not a guarantee of future performance.
</p>
<p>
  We believe everyone should be able to make financial decisions with
  confidence. And while our site doesn’t feature every company or financial
  product available on the market, we’re proud that the guidance we offer, the
  information we provide and the tools we create are objective, independent,
  straightforward — and free.
</p>
<p>
  Our partners compensate us which may influence the products we review and
  write about (and where those products appear on the site), but it in no way
  affects our recommendations or advice, which are grounded in thousands of
  hours of research. Our partners cannot pay us to guarantee favorable reviews
  of their products or services.
</p>
