<section class="flex flex-column text-white">
  <div id="ocean"></div>
  <div class="grid bg-ocean">
    <div class="col-8 col-offset-2 pb-5">
      <div class="text-xl my-2 uppercase"></div>
      <p class="mb-2">
        Americans are in an ocean of debt. In 2024 credit card debt surpassed $1
        trillion for the first time. Inflation and rising interest rates are
        making matters worse, sinking Americans deeper into debt. The average
        household has more than $8000 in credit card debt.
      </p>
      <p class="mb-2">
        If you are sinking in credit card debt and you need help, a debt
        consolidation loan is one way to pay off your high interest debt.
        By combining some, or all, of your credit cards into one loan with a
        lower interest rate, you simplify your debt and save money over time.
      </p>
    </div>
  </div>
</section>
<section class="grid py-5 bg-ocean text-white">
  <div class="grid col-8 col-offset-2">
    <div class="col-12">
      <h3>Debt Consolidation Loan Advantages</h3>
      Here is what you should know about debt consolidation loans...
    </div>
  </div>
  <div class="grid col-8 col-offset-2">
    <div class="col-4 text-center">
      <span class="material-symbols-rounded">credit_card_off</span>
      <h2 class="">Simplify Debt</h2>
      <p class="mb-0">
        Consolidate your debt by rolling credit card balances into one loan with
        a lower interest rate. You will make one affordable payment each month.
      </p>
    </div>
    <div class="col-4 text-center">
      <span class="material-symbols-rounded">savings</span>
      <h2 class="">Save Money</h2>
      <p class="mb-0">
        A lower, fixed interest rate, means you will save money and pay off debt
        faster. And no more late fees, over-limit fees, or cash advance fees!
      </p>
    </div>
    <div class="col-4 text-center">
      <span class="material-symbols-rounded">savings</span>
      <h2 class="">Start Now</h2>
      <p class="mb-0">
        The sooner you consolidate your debt, the more you will save. You can
        improve your credit score with consistent on-time payments.
      </p>
    </div>
    <div
      class="grid align-items-center border-2 border-round-xl mt-5 py-3 pr-5"
    >
      <div class="col-2 text-center font-avenir-bold uppercase">
        Did You Know?
      </div>
      <div class="col-10">
        You can get rates from multiple debt consolidation lenders without
        impacting your credit score.
      </div>
    </div>
  </div>
</section>
<section class="grid text-white bg-gray-900">
  <div class="col-8 col-offset-2">
    <h1 class="flex align-items-center">
      The best debt consolidation loans
      <p-tag value="March 2024"></p-tag>
    </h1>
    <p class="">
      We research and review debt debt solutions to help you manage and pay off
      your debt. The best debt consolidation companies are listed below.
    </p>
    <div class="grid border-2 border-round-xl py-2 mt-5">
      <div class="col-6 flex flex-column align-items-center">
        <h3 class="m-0">Accredited Debt Relief</h3>
        <p>Leading debt consolidation loan provider. Rated # 1.</p>
        <p-button icon="pi pi-iconName" label="Get a Rate Quote"></p-button>
        <p><a href="">Visit Accredited Debt Relief's Website</a></p>
      </div>
      <div class="col-3 flex flex-column align-items-center">
        <h4 class="m-0">Pros</h4>
        <ul class="list-none p-0">
          <li>Pay only if they successfully reduce your debt</li>
          <li>A+ BBB rating and positive customer reviews</li>
          <li>Free consultation and savings estimate</li>
        </ul>
      </div>
      <div class="col-3 flex flex-column align-items-center">
        <h4 class="m-0">Cons</h4>
        <ul class="list-none p-0">
          <li>Pay only if they successfully reduce your debt</li>
          <li>A+ BBB rating and positive customer reviews</li>
          <li>Free consultation and savings estimate</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="grid py-5 text-gray-700">
  <div class="col-8 col-offset-2">
    <h2 class="">Debt consolidation loan questions and answers</h2>
    <h3 class="">What is a debt consolidation loan?</h3>
    <p>
      A debt consolidation loan allows you to roll multiple existing debts, such
      as credit cards, personal loans, medical bills, etc., into one new
      fixed-rate loan. Instead of making several high payments to different
      creditors each month, you'll make just one payment on the new
      consolidation loan.
    </p>
    <p-divider></p-divider>
    <h3 class="">How does debt consolidation work?</h3>
    <p>
      With a debt consolidation loan, you'll receive a lump sum of cash that
      you'll use to pay off all of your outstanding debts. This leaves you with
      a single monthly payment on the new consolidation loan, ideally at a lower
      interest rate than you were previously paying. Over time, the interest
      savings help you get out of debt faster.
    </p>
    <p-divider></p-divider>
    <h3 class="">Who would benefit most from a debt consolidation loan?</h3>
    <p>
      Debt consolidation loans work best for those struggling with high amounts
      of outstanding debt from multiple sources, like credit cards with high
      interest rates. By consolidating, you can lock in a lower fixed rate,
      reduce monthly expenses, and simplify debt into one manageable payment.
      Those with good credit scores will qualify for the best consolidation loan
      rates.
    </p>
    <p-divider></p-divider>
    <h3 class="">What are the benefits of a debt consolidation loan?</h3>
    <p>
      For example, if you have credit card debt or multiple credit cards, you
      may want to consider a deb consolidation loan. Debt consolidation loans
      help you pay off credit card debt by combining all or some of your credit
      card balances into one account. We have identified some of the best debt
      consolidation loans for you already.
    </p>
    <p-divider></p-divider>
    <h3 class="">Will a debt consolidation loan affect my credit?</h3>
    <p>
      In the short term, a debt consolidation loan may cause a small, temporary
      drop in your credit score when you apply due to the hard inquiry on your
      credit report. However, making on-time payments on the new loan can help
      improve your credit over time. And by paying off credit card balances,
      you'll reduce overall debt utilization, which can boost your score.
    </p>
    <p-divider></p-divider>
    <h3 hrer="">
      What additional factors should I look for in a debt consolidation loan
      company?
    </h3>
    <p>
      When choosing a debt consolidation lender, look for the lowest possible
      interest rates and flexible terms to pay off the loan quickly. Fees like
      origination charges can vary, so compare the total costs as well. Check if
      lenders offer tools to help manage payments or free credit monitoring.
      Most importantly, choose a reputable, transparent lender with strong
      customer service.
    </p>
  </div>
</section>
