<section class="flex flex-column justify-content-center bg-blue-200 relative">
  <div class="wavess"></div>
  <div
    class="flex flex-column align-items-center justify-content-center pb-5 text-white bg-ocean"
  >
    <h1>icon</h1>
    <h2 class="">debt can sink you.</h2>
    <p class="w-6">
      Debt relief Our team of financial experts is here to help you stay aloat.
      </p>
    <p class="w-6">
      We find and
      review the best debt relief companies and services available for you. You
      choose the best option to manage your debt depending on your financial
      situation.
    </p>
  </div>
</section>
<section class="grid text-gray-500">
  <div class="col-2"></div>
  <div class="col-8">
    <h2 class="flex align-items-center text-5xl text-gray-700">
      Best loan consolidation companies
      <p-badge
        severity="warning"
        value="March 2024"
        class="flex ml-2"
      ></p-badge>
    </h2>
    <p class="">
      Our experienced professionals have analyzed and rated the leading debt
      consolidation loans, ensuring you get the most accurate and reliable
      information. Easily compare interest rates, terms, and benefits of
      different debt consolidation loans in one convenient location. Make the
      best choice based on your unique financial situation and needs. Take the
      first step towards a debt-free life with our comprehensive resources and
      expert guidance.
    </p>
    <div class="grid border-2 border-round-xl py-2 mt-5">
      <div class="col-6 flex flex-column align-items-center">
        <h3 class="m-0 text-gray-700">Accredited Debt Relief</h3>
        <p>Leading debt consolidation loan provider. Rated # 1.</p>
        <p-button icon="pi pi-iconName" label="Get a Rate Quote"></p-button>
        <p><a href="">Visit Accredited Debt Relief's Website</a></p>
      </div>
      <div class="col-3 flex flex-column align-items-center">
        <h4 class="m-0 text-gray-700">Pros</h4>
        <ul class="list-none p-0">
          <li>Pay only if they successfully reduce your debt</li>
          <li>A+ BBB rating and positive customer reviews</li>
          <li>Free consultation and savings estimate</li>
        </ul>
      </div>
      <div class="col-3 flex flex-column align-items-center">
        <h4 class="m-0 text-gray-700">Cons</h4>
        <ul class="list-none p-0">
          <li>Pay only if they successfully reduce your debt</li>
          <li>A+ BBB rating and positive customer reviews</li>
          <li>Free consultation and savings estimate</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-2"></div>
</section>
<section class="grid text-gray-500">
  <div class="col-2"></div>
  <div class="col-8">
    <h2 class="text-5xl text-gray-700">Frequently asked questions</h2>
    <a hrer="">What is debt relief?</a>
    <p>
      Debt relief is a great way to help you manage your debt, depending on your
      situation. Here are some of the basics of debt relief. Debt relief refers
      to the strategy for making debt easier to manage. This can vary depending
      on the type of debt you have.
    </p>
    <p-divider></p-divider>
    <a hrer="">What is debt relief?</a>
    <p>
      The three primary debt relief options are credit counseling, debt
      management plans and debt settlement also fall under the debt relief
      umbrella. While the means are different, the end goal is similar. Debt
      relief is about helping you stay afloat and eliminate debt.
    </p>
    <p-divider></p-divider>
    <a hrer="">What is debt relief?</a>
    <p>
      For example, if you have credit card debt or multiple credit cards, you
      may want to consider a deb consolidation loan. Debt consolidation loans
      help you pay off credit card debt by combining all or some of your credit
      card balances into one account. We have identified some of the best debt
      consolidation loans for you already.
    </p>
  </div>
  <div class="col-2"></div>
</section>
