@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeflex/primeflex.scss";
@import "primeicons/primeicons.css";
@import "./fonts/avenir/font.css";

.dm-sans-200 {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.dm-sans-400 {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.dm-sans-500 {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.dm-sans-600 {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.josefin-sans-200 {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.josefin-sans-300 {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.josefin-sans-400 {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.josefin-sans-600 {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.josefin-sans-700 {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.font-avenir-demi {
  font-family: 'AvenirNextLTPro-Demi', sans-serif;
}

.font-avenir-regular {
  font-family: 'AvenirNextLTPro-Regular', sans-serif;
}

.font-avenir-medium {
  font-family: 'AvenirNextLTPro-Medium', sans-serif;
}

:root {
  --stone: #f5f6f0;
  --sand: #ffebcc;
  --cyan: #51e5da;
  --ocean: #2d55aa;
  --maroon-dark: #433a44;
  --maroon-light: #696169;
  --orange-light: #ff5037;
  --orange-dark: #e93418;
  --orange-red: #F85E49;
  --primary-color: rgb(49 43 65 / 100%);
  --primary-color-text: rgb(49 43 65 / 100%);
  --highlight-text-color: #ff5037;
  --text-dark: rgb(49 43 65 / 100%);
}

.bg-ocean {
  background-color: var(--ocean);
}

.bg-sand {
  background-color: var(--sand);
}

html {
  font-size: 16px;
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--stone);
  font-family: 'AvenirNextLTPro-Regular', sans-serif;
}

h1 {
  font-family: 'AvenirNextLTPro-Demi', sans-serif;
}

h2 {
  font-family: 'AvenirNextLTPro-Bold', sans-serif;
}

h3, h4, h5, h6 {
  font-family: 'AvenirNextLTPro-Demi', sans-serif;
}

section {
  a {
    font-family: 'AvenirNextLTPro-Demi', sans-serif;
  }
}

header {
  svg {
    color: var(--orange-light);
    fill: var(--orange-light);
  }

  a:link,
  a:active,
  a:hover,
  a:visited {
    color: white;
    text-decoration: none;
  }
}

footer {
  background-color: var(--sand);
}

.p-menu {
  width: max-content;
}

.updated {
  font-family: 'AvenirNextLTPro-Demi', sans-serif;
  color: var(--orange-light);
  font-size: 1rem;
}